#Hi!, this config is not intended to become an example of beauty in yabar.
#It is just intended to show an example (specifically an example config that uses internal blocks) of what you can do using yabar.
#You are more than welcomed to send me (using a pull request maybe) your better colors and I will merge it.
bar-list = ["bar1"];

bar1:{
	font: "Droid Sans, FontAwesome Bold 10";
	block-list: ["ya_date", "ya_uptime", "ya_cpu", "ya_thermal", "ya_brightness", "ya_bw", "ya_mem", "ya_disk"];
	#block-list: ["ya_date", "ya_uptime"];
	position: "top";
	gap-horizontal: 20; 		#width in pixels
	#width: 1100;
	#border-size: 2;
	#border-color-rgb: 0xffffff;
	gap-vertical: 4; 		#width in pixels
	height: 20; 			#height
	background-color-argb: 0x0;
	#monitor: "LVDS1";
	background-color-rgb:0x1d1d1d;
	underline-size: 2;
	overline-size: 2;
	slack-size: 2;
	ya_date:{
		exec: "YA_INT_DATE";
		align: "center";
		fixed-size: 120;
		interval: 2;
		background-color-rgb:0x279DBD;
		underline-color-rgb:0xC02942;
		internal-prefix: " ";
		internal-option1: "%a %d %b, %I:%M";
	}
	ya_uptime:{
		exec: "YA_INT_UPTIME";
		align: "right";
		fixed-size: 70;
		interval: 1;
		background-color-rgb:0x96B49C;
		underline-color-rgb:0xF8CA00;
		internal-prefix: " ";
	}
	ya_mem:{
		exec: "YA_INT_MEMORY";
		align: "right";
		fixed-size: 70;
		interval: 1;
		background-color-rgb:0x45ADA8;
		underline-color-rgb:0xFA6900;
		internal-prefix: " ";
	}
	ya_thermal: {
		exec: "YA_INT_THERMAL";
		align: "right";
		fixed-size: 40;
		interval: 1;
		background-color-rgb:0x309292;
		underline-color-rgb:0xE08E79;
		internal-option1: "thermal_zone0"; #Get NAME from /sys/class/NAME/temp
		internal-prefix: " ";
	}
	ya_brightness: {
		exec: "YA_INT_BRIGHTNESS";
		align: "right";
		fixed-size: 40;
		interval: 1;
		background-color-rgb:0x81A8B8;
		underline-color-rgb:0xBD1550;
		internal-prefix: " ";
		internal-option1: "intel_backlight";
	}
	ya_bw: {
		exec: "YA_INT_BANDWIDTH";
		align: "right";
		fixed-size: 110;
		interval: 1;
		internal-prefix: " ";
		internal-option1: "wlo1"; #Replace this with your network interface. Get it by using the command `ifconfig` or `ip addr show`
		internal-option2: " "; #Use characters(usually utf characters as shown) to be placed before down/up data, separated by a space
		#background-color-rgb:0x547980;
		background-color-rgb:0x3EC9A7;
		underline-color-rgb:0xD95B43;
	}
	ya_cpu: {
		exec: "YA_INT_CPU";
		align: "right";
		fixed-size: 60;
		interval: 1;
		internal-prefix: " ";
		internal-suffix: "%";
		background-color-rgb:0x98D9B6;
		underline-color-rgb:0xE97F02;
	}
	ya_disk: {
		exec: "YA_INT_DISKIO";
		align: "right";
		fixed-size: 110;
		interval: 1;
		internal-prefix: " ";
		internal-option1: "sda"; #Get NAME from /sys/class/block/NAME/stat
		internal-option2: " "; #Use characters(usually utf characters as shown) to be placed before down/up data, separated by a space
		background-color-rgb:0x49708A;
		underline-color-rgb:0xECD078;
	}
}
